__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/
static_root/

.env
.env.*

.vscode/

venv/
env/
.venv/

.cache/

Pipfile.lock

Thumbs.db
ehthumbs.db